<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>
            ABOUT PAGE
        </h1>
        <ul>
            <li>
                <a href="/">
                    HOME
                </a>
            </li>
            <li>
                <a href="/product">
                    PRODUCT
                </a>
            </li>
            <li>
                <a href="/about">
                    ABOUT
                </a>
            </li>
        </ul>
        {{> footer}}
    </body>
</html>